.background {
    background: linear-gradient(135deg, #0f172a, #2563eb);
    background-attachment: fixed;
}

.container {
    border: 10px solid #ec0f0f;
}

.profile-image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
        object-fit: cover;
}