/*.background {background-color: white;}*/
:root {

    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 40px;
    --border-radius: 8px;
}
  
/* Reset básico e tipografia */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding-left: var(--spacing-md);
}

p {
    font-size: 20px;
    font-family: system-ui, sans-serif;
}
h1,h2,h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: var(--spacing-sm);
}


.container {
   max-width: 1000px;
    margin: 0 auto;
    padding: var(--spacing-md);

}


.header-profile {

    display: flex;
    gap: var(--spacing-md);
    align-items: center;
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    margin-bottom: 0;
    background: linear-gradient(135deg, #0f172a, #301beec1);

}


.profile-image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #d4cfcfd4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-info h1 {
    font-size: 2.5rem;
    color: var(--header-text);
    color: aliceblue;
}

.profile-info p {
    font-size: 1.25rem;
    margin-bottom: var(--spacing-sm);
    color: #bdc3c7;
}

.profile-info {

    font-family: system-ui, sans-serif;
    color: aliceblue;

}


/* Responsividade (Mobile e Tablets) */
@media (max-width: 768px) {
    .profile-header {
        flex-direction: column;
        text-align: center;
        padding: var(--spacing-md);
        gap: var(--spacing-md);
    }
}