.background {
    background-color: white;
}


.container {
    padding: var(--spacing-md);

}

.header-profile {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #0f172a, #301beec1);

}
.profile-info h1 {
    font-family: system-ui, sans-serif;
    color: aliceblue;
}

.profile-info  {

    font-family: system-ui, sans-serif;
    color: aliceblue;
    
}

.profile-image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid #d4cfcfd4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    object-fit: cover;
}